# Ignore bundler config
/.bundle
/backend/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep
/frontend/log/*
/frontend/tmp/*
!/frontend/log/.keep
!/frontend/tmp/.keep

# Ignore pidfiles
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/backend//tmp/pids/*
!/backend//tmp/pids/
!/backend//tmp/pids/.keep
/frontend/tmp/pids/*
!/frontend/tmp/pids/
!/frontend/tmp/pids/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/backend/storage/*
!/backend/storage/.keep
/frontend/storage/*
!/frontend/storage/.keep

# Ignore master key for decrypting credentials
/backend/config/master.key
/backend/config/credentials/*.key

# Ignore environment variables
.env
.env.*
/backend/.env
/backend.env.*
/frontend/.env
/frontend/.env.*

# Ignore database files
*.sqlite3
*.sqlite3-*

# Ignore node modules
/node_modules
/backend/node_modules
/frontend/node_modules

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/backend/yarn-error.log
/backend/yarn-debug.log*
/backend/.yarn-integrity
/frontend/yarn-error.log
/frontend/yarn-debug.log*
/frontend/.yarn-integrity

# Ignore test coverage
/coverage/

# Ignore system files
.DS_Store
Thumbs.db 
